
$color-primary-0: #78B2CB;	// Main Primary color */
$color-primary-1: #FEFEFE;
$color-primary-2: #CCE3ED;
$color-primary-3: #3C8AAB;
$color-primary-4: #0674A4;

$color-secondary-1-0: #8887D5;	// Main Secondary color (1) */
$color-secondary-1-1: #FEFEFE;
$color-secondary-1-2: #D3D2F0;
$color-secondary-1-3: #514FBB;
$color-secondary-1-4: #1815B5;

$color-secondary-2-0: #7FDE8F;	// Main Secondary color (2) */
$color-secondary-2-1: #FEFEFE;
$color-secondary-2-2: #D0F3D6;
$color-secondary-2-3: #41CA59;
$color-secondary-2-4: #00C522;

heading {
	display: block;
	width: 100vw;
	height: 50px;
	border-bottom: 2px solid gray;
	text-align: center;
	line-height: 50px;
	font-size: 1.5em;
	background-color: $color-primary-0
}

#home {
	display: flex;
	> * {
		margin: 0px;
		padding: 0px;
		flex: 1 0 150px;
		overflow: hidden;
	}
}


.typeList{
	position: relative;
	background-color: #CCC;
	color: #272727;

		> .type {
			box-sizing: border-box;
			padding: 10px;
			width: 100%;
			transition: padding 0.43s, background-color 0.1s, color 0.1s;

			&:hover {
				background-color: $color-secondary-1-3;
				color: #F7F7F7;

				padding-left: 1em;
				
			}
		}

	
}

.propertyList{
	background-color: #CCC;
	display: flex;
	flex-direction: column;
	> div {
		display: flex;
		flex-direction: row;
		margin: 5px 8px 0px 8px;
		
		> .label {
			flex: 2;
		}
	}

}

.sheet {
	flex: 5 !important;
	height: calc(100vh - 52px);
	display: block;
	overflow-y: scroll !important;
	> .item {
		width: 100%;
		padding: 1.125% 2.5% 1.125% 2.5%;
		display: inline-block;
		box-sizing: border-box;
		
		&-isdragging {
			background-color: $color-secondary-2-0;
		}

		> span {
			padding: 20px;
			border: 1px solid black;
			box-sizing: border-box;
			display: inline-block;
			width: 100%;
			
			> .remove {
				float: right;
			}

		}
	}


}


#register {
	display: flex;
	justify-content: center;
	.form {
		display: block;
		width: 600px;
		
	}
	input[type=button]{
		float: right;
	}

	.row {
		display: flex;
		margin: 20px;
		> span {
			flex: 1;
		}

		> input {
			flex: 3;
		}
	}
}